@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}



.jigsaw1 {
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
  animation-name: example;
  animation-duration: 4s;
}


.jigsaw1,
.jigsaw1 .t, jigsaw1 .r {
 background-color: #0284cf; 
 animation-name: example;
animation-duration: 4s;
}



.jigsaw1 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .r{
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw1 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

