@keyframes loading {
    0%   {background-color: red; }
    25%  {background-color: yellow; transform: rotate(90deg); }
    50%  {background-color: blue; transform: rotate(180deg); }
    75% {background-color: green; transform: rotate(270deg); }
    100% {background-color: red; transform: rotate(360deg); }
}

@keyframes letters {
  0% {color:black;}
  12% {color: #c9c9c9;}
  33% {color: #888;}
  100% {color: black;}
}


.jigsaw1 {
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}


.jigsaw1,
.jigsaw1 .t, .jigsaw1 .r {
 background-color: #0284cf; 
 animation-name: loading;
animation-duration: 3s;
animation-iteration-count: infinite;
}



.jigsaw1 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .r{
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw1 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}



.loading b {
  animation-name: letters;
 animation-duration: 3s;
 animation-iteration-count: infinite;
}

.loading #l{

  animation-delay: 0s;
}

#o{
  animation-delay: 0.2s;
}

#a{
  animation-delay: 0.4s;
}

#d{
  animation-delay: 0.6s;
}

#i{
  animation-delay: 0.8s;
}

#n{
  animation-delay: 1.0s;
}

#g{
  animation-delay: 1.2s;
}

#d1{
  animation-delay: 1.4s;
}

#d2{
  animation-delay: 1.6s;
}

#d3{
  animation-delay: 1.8s;
}

